html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

body{
    background-color: lavender;
}
.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 7rem 0;
}

.ques-container{
    border: 5px solid purple;
padding: 2rem;
border-radius: 10px;
    
background-color: purple;
}
.q{
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 1rem;
    padding: 1rem;
    color: purple;
    font-size: 1.5rem;
}
span{
    margin-left: 18rem;
}

.active-q{
    background-color: purple;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    
    margin-bottom: 1rem;
    padding: 1rem;

    font-size: 1.5rem

}
